body {
    background-color: black;
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding-top: 7em;
    padding-left: 17em;
  }
  
  .container {
    
    max-width: 500px;
    width: 90%;
    padding: 1em;
  }
  
  header {
    display: flex;
   
    align-items: center;
    width: 100%;
    padding: 1em 0;
  }
  
  header a {
    color: #b36fff; /* Bright purple color */
    text-decoration: none;
    margin: 0 0.5em; /* Decreased spacing between elements */
    font-size: 1.2em;
    font-weight: bold; /* Bold text */
  }
  
  header a:hover {
    color: #a64dff; /* Lighter purple color on hover */
  }
  
  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

 h1 span {
    color: #b36fff;
  } 

  .melano {
    padding-left: .4em; /* Align the text to the center */
    margin-top: 20px; /* Add margin space at the top */
    font-size: 1.2em; /* Adjust the font size for consistency */
    color: #b36fff;
    font-size: 1.5em;
    font-weight: bold; 
    /* Match the color of elements in the header */
  }