@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono Regular'), local('SpaceMono-Regular'), url(path/to/space-mono-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(path/to/space-mono-bold.woff2) format('woff2');
}

.space-mono-regular {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: italic;
}

body {
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2em;
  padding-top: 4em;
  padding-left: 5em;
}

@media screen and (max-width: 768px) {
  body {
    padding: 1em;
    font-size: 14px;
  }
}

.xdot-com {
  margin-top: 2em;
  font-size: 0.8em;
  text-decoration: underline;
  text-decoration-thickness: 0.2px;
  text-decoration-color: #ffffff;
  text-decoration-style: solid;
  text-underline-offset: 3px;
  padding-right: 2px;

}

.github {
  margin-top: 2em;
  font-size: 0.8em;
  text-decoration: underline;
  text-decoration-thickness: 0.2px;
  text-decoration-color: #ffffff;
  text-decoration-style: solid;
  text-underline-offset: 3px;
  padding-left: 10px;
}

.container {
  max-width: 400px;
  width: 100%;
  padding: 1em;
  padding-top: 10px;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em 10em;
  margin-bottom: 5px;
  padding-left: 0px;
}
/*do not mess with this section unless you have 2 espresso shots */
header a {
  color: #7460E0;
  text-decoration: none;
  margin: 0 0.5em;
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 15px;
  
}
/*okay thats it*/

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8em;
}

h1 span {
  color: #b36fff;
  font-size: 0.9em;
}

.melano {
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}

.breadcrumbs {
  background-color: #000000;
  padding: 10px;
  margin-bottom: 10px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #7460E0;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.about {
  margin-top: 2em;
}

.about-text {
  max-width: 600px;
}
