@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Space Mono Regular'), local('SpaceMono-Regular'), url(path/to/space-mono-regular.woff2) format('woff2');
  }
  
  @font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(path/to/space-mono-bold.woff2) format('woff2');
  }
  
  /* Apply Space Mono font to specific classes */
  .space-mono-regular {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .space-mono-regular-italic {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .space-mono-bold-italic {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-style: italic;
  }
  
  /* General styling */
  body {
    background-color: black;
    color: white;
    font-family: 'Space Mono', monospace; /* Apply Space Mono font to the entire document */
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding-top: 7em;
    padding-left: 17em;
    padding-right: 17em;
  }

  body {
    font-size: 16px; /* Adjust the font size as needed */
    font-family: 'Space Mono', monospace;
    line-height: 1.5; /* Adjust the line height as needed */
    word-wrap: break-word; /* Wrap text to the next line */
    hyphens: auto;
    overflow-x: hidden; /* Allow hyphenation */
}

p {
    margin-bottom: 0.5em; /* Add some space between paragraphs */
}


  .melano {
  
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding-bottom: 1.5em;
  }

  ul {
    list-style-type: disc;
}

ul li::before {
    content: "\2022"; /* Bullet character */
    color: #7460E0; /* Color of the bullet */
    font-size: 1.2em; /* Adjust size if needed */
    margin-right: 0.5em; /* Spacing between bullet and text */
}

/* Change the text color of breadcrumbs */
.breadcrumbs {
  color: #7460E0; /* Change to the color you desire */
}

/* Change the link color of breadcrumbs */
.breadcrumbs a {
  color: #7460E0; /* Change to the color you desire */
}



