/* Font Imports */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono Regular'), local('SpaceMono-Regular'), url(path/to/space-mono-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(path/to/space-mono-bold.woff2) format('woff2');
}

/* Font Classes */
.space-mono-regular {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: italic;
}

/* General Styles */
body {
  overflow-x: hidden;
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding-top: 7em;
  padding-left: 17em;
}

.melano {
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}

/* Breadcrumbs Styles */
.breadcrumbs {
  color: #7460E0;
}

.breadcrumbs a {
  color: #7460E0;
  text-decoration: none;
}

.breadcrumbs a:hover {
  color: #9580FF;
}

/* Posts Section Styles */
.posts-container {
  margin-top: 2em;
}

.posts-container h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 1em;
}

.posts-container ul {
  list-style-type: none;
  padding: 0;
}

.posts-container li {
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
}

.posts-container .date {
  font-size: 14px;
  margin-right: 0.5em;
}

.post-link {
  color: white;
  text-decoration: none; /* Remove default underline */
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.post-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px; /* Adjust to move the underline closer to the text */
  width: 100%;
  height: 0.5px; /* Adjust to make the underline smaller */
  background-color: white;
}

.post-link:hover {
  color: #9580FF;
}

/* Blog List Styles */
.blog-list {
  list-style-type: none;
  padding: 0;
}

.blog-list li {
  margin-bottom: 10px;
}

.bullet {
  content: "\2022";
  color: #7460E0;
  font-size: 1.2em;
  margin-right: 0.4em;
}
